<header class="main-header">
  <nav>
    <span class="brand">Saksham</span>
    <a href="/">Home</a>
    <a href="https://sakshamchugh.com" target="_blank">About</a>
    <a href="https://www.instagram.com/stacle_studios/" target="_blank">Contact</a>
  </nav>
</header>
