<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %> - My Programmer Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% include partials/header.ejs %>

  <div class="container single-post">
    <h1><%= post.title %></h1>
    <span class="category"><%= post.category %></span>
    <p class="description"><%= post.description %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    <a href="/">Back to Home</a>
  </div>

  <% include partials/footer.ejs %>
</body>
</html>
